@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Tilt+Neon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  background: rgb(67, 69, 112);
  background: radial-gradient(circle, rgba(67, 69, 112, 1) 3%, rgba(35, 36, 57, 1) 60%);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navBar a {
  color: #fdfdfd;
  padding: 8px 0;
  text-decoration: none;
}

.navBar h1 {
  color: #fff;
  font-size: 20px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.navBar header {
  background: #222;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navBar li {
  color: #fff;
  list-style: none;
  padding: 12px;
}

.navBar li:hover {
  background: rgba(0,0,0,.25);
}

.navBar li a {
  display: inline;
}

nav {
  background-color: #34495e;
  text-align: center;
  width: 100%;
}

.navBar ul {
  margin: 0;
  padding: 0;
}

.navBar .icon-reorder {
  cursor: pointer;
  font-size: 24px;
  color: #fdfdfd;
  display: none; /* Ocultarlo por defecto */
}

/* En resoluciones mayores a 450px */
@media screen and (min-width: 450px) {
  .navBar a {
    display: none;
  }
  .navBar li {
    display: inline-block;
  }
  .navBar ul {
    display: block !important;
  }
  .navBar .icon-reorder {
    display: none; /* Ocultar el ícono en pantallas grandes */
  }
}

/* En resoluciones menores a 450px */
@media screen and (max-width: 449px){
  .navBar a {
    display: block;
  }
  .navBar ul {
    display: none;
  }
  .navBar .icon-reorder {
    display: block; /* Mostrar el ícono en pantallas pequeñas */
  }
}

/* Agregar funcionalidad de toggle */
.navBar ul.show {
  display: block !important;
}

/* Agregar margen superior al contenido para que no quede tapado por el navbar */
.home {
  margin-top: 60px; /* Ajusta este valor según la altura del navbar */
}
